<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Keywords -->
        <meta name="keywords" content="isladoujin, doujinisla, download doujin, nhentaidownloader" />
        <%- include("components/_meta.ejs") -%>
    </head>
    <body id="body">
        <%- include("components/_navbar.ejs") -%>
        <!-- <h1>Hello World</h1> -->
        <main id="main"></main>
        <%- include("components/_footer.ejs") -%>
    </body>
</html>
