<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Keywords -->
        <meta name="keywords" content="isladoujin, doujinisla, download doujin, nhentaidownloader" />
        <link rel="stylesheet" href="/public/css/home.css" />
        <%- include("components/_meta.ejs") -%>
    </head>
    <body>
        <%- include("components/_navbar.ejs") -%>
        <!-- <h1>Hello World</h1> -->
        <main id="main">
            <form action="/download" method="GET" class="position-relative d-flex flex-column justify-content-center align-items-center">
                <h3 class="title">Input Doujin Code</h3>
                <span class="input-id d-flex justify-content-center align-items-center">
                    <label for="doujin-input" class="position-relative" aria-label>https://nhentai.net/g/</label>
                    <!-- <label for="doujin-input phone" class="position-relative" aria-label>Code</label> -->
                    <input aria-required="true" required type="number" name="id" id="doujin-input" class="position-relative" placeholder="ID" />
                </span>
                <div class="buttons d-flex align-items-center justify-content-end">
                    <a href="/search" class="btn btn-primary">SEARCH</a>
                    <button type="submit" class="btn btn-primary">DOWNLOAD</button>
                </div>
                <!-- <img src="/public/images/isla-gallery.png" class="input-bg position-absolute" /> -->
            </form>
        </main>
        <%- include("components/_footer.ejs") -%>
    </body>
</html>
