<link rel="stylesheet" href="/public/css/footer.css" />
<footer id="footer">
    <svg class="footer-separator" version="1.0" xmlns="http://www.w3.org/2000/svg" width="1280.000000pt" height="165.000000pt" viewBox="0 0 1280.000000 165.000000" preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,165.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
            <path
                d="M12790 1620 c0 -27 -3 -30 -29 -30 -21 0 -32 -6 -36 -20 -5 -15 -15
-20 -40 -20 -19 0 -37 -4 -40 -10 -3 -5 -23 -10 -44 -10 -30 0 -40 -4 -44 -20
-4 -15 -14 -20 -41 -20 -23 0 -39 -5 -42 -15 -4 -9 -19 -15 -40 -15 -19 0 -34
-4 -34 -10 0 -5 -18 -10 -41 -10 -32 0 -42 -4 -46 -20 -4 -15 -14 -20 -42 -20
-25 0 -41 -6 -51 -20 -9 -13 -26 -20 -47 -20 -18 0 -33 -4 -33 -10 0 -5 -18
-10 -39 -10 -31 0 -41 -4 -46 -20 -5 -14 -15 -20 -38 -20 -18 0 -41 -7 -51
-15 -11 -8 -32 -15 -47 -15 -15 0 -29 -7 -33 -15 -3 -9 -19 -15 -41 -15 -22 0
-38 -6 -41 -15 -4 -10 -20 -15 -45 -15 -21 0 -39 -4 -39 -10 0 -5 -16 -10 -36
-10 -27 0 -37 -5 -41 -20 -4 -16 -14 -20 -44 -20 -28 0 -42 -6 -51 -20 -9 -13
-24 -20 -45 -20 -18 0 -33 -4 -33 -10 0 -5 -20 -10 -45 -10 -38 0 -45 -3 -45
-20 0 -17 -7 -20 -39 -20 -25 0 -41 -5 -45 -15 -3 -9 -19 -15 -41 -15 -19 0
-35 -4 -35 -10 0 -5 -10 -10 -22 -10 -39 0 -68 -12 -68 -26 0 -10 -12 -14 -38
-14 -26 0 -42 -6 -52 -20 -9 -13 -26 -20 -47 -20 -18 0 -33 -4 -33 -10 0 -5
-18 -10 -41 -10 -32 0 -42 -4 -46 -20 -4 -15 -14 -20 -38 -20 -18 0 -38 -7
-45 -15 -7 -8 -28 -15 -46 -15 -24 0 -34 -5 -34 -15 0 -11 -11 -15 -40 -15
-27 0 -43 -5 -46 -15 -4 -9 -19 -15 -40 -15 -19 0 -34 -4 -34 -10 0 -5 -13
-10 -30 -10 -16 0 -30 -4 -30 -10 0 -5 -7 -10 -15 -10 -8 0 -15 -4 -15 -10 0
-5 -18 -10 -39 -10 -31 0 -41 -4 -46 -20 -5 -16 -15 -20 -46 -20 -21 0 -39 -4
-39 -10 0 -5 -18 -10 -41 -10 -32 0 -42 -4 -46 -20 -4 -15 -14 -20 -38 -20
-19 0 -39 -8 -50 -20 -10 -11 -31 -20 -46 -20 -15 0 -31 -5 -34 -10 -3 -6 -22
-10 -41 -10 -22 0 -37 -6 -40 -15 -4 -10 -20 -15 -44 -15 -29 0 -40 -5 -45
-19 -6 -19 -57 -31 -136 -31 l-39 0 0 48 c1 41 47 202 64 219 3 3 6 19 6 34 0
15 4 30 9 33 5 4 12 24 16 46 4 22 11 40 16 40 5 0 9 16 9 35 0 19 4 35 9 35
5 0 11 12 14 27 2 16 9 42 15 58 6 17 15 48 22 70 11 39 24 74 40 105 4 9 11
36 15 60 4 24 11 51 15 60 26 52 32 70 27 82 -4 9 -6 7 -6 -4 -1 -13 -9 -18
-31 -18 -19 0 -34 -7 -42 -20 -8 -12 -24 -20 -40 -20 -16 0 -28 -4 -28 -10 0
-5 -14 -10 -31 -10 -22 0 -32 -5 -36 -20 -4 -14 -14 -20 -33 -20 -15 0 -33 -7
-40 -15 -7 -8 -23 -15 -35 -15 -13 0 -25 -7 -29 -15 -3 -9 -18 -15 -36 -15
-18 0 -33 -6 -36 -15 -4 -9 -19 -15 -35 -15 -16 0 -29 -4 -29 -10 0 -5 -16
-10 -36 -10 -27 0 -37 -5 -41 -20 -4 -14 -14 -20 -33 -20 -20 0 -31 -6 -35
-20 -4 -14 -15 -20 -35 -20 -16 0 -32 -5 -35 -10 -3 -6 -20 -10 -37 -10 -21 0
-31 -6 -35 -20 -4 -14 -14 -20 -34 -20 -17 0 -32 -6 -35 -15 -4 -9 -19 -15
-35 -15 -16 0 -29 -4 -29 -10 0 -5 -13 -10 -30 -10 -19 0 -34 -7 -42 -20 -7
-11 -24 -20 -38 -20 -14 0 -32 -9 -40 -20 -8 -12 -26 -20 -42 -20 -15 0 -28
-4 -28 -10 0 -5 -13 -10 -29 -10 -21 0 -32 -6 -36 -20 -4 -13 -15 -20 -31 -20
-14 0 -32 -7 -40 -15 -9 -8 -26 -15 -39 -15 -12 0 -25 -7 -29 -15 -3 -9 -18
-15 -36 -15 -18 0 -33 -6 -36 -15 -4 -8 -17 -15 -29 -15 -13 0 -27 -5 -30 -10
-3 -6 -15 -10 -26 -10 -10 0 -19 -4 -19 -10 0 -5 -7 -10 -15 -10 -8 0 -15 -4
-15 -10 0 -5 -15 -10 -34 -10 -26 0 -36 -5 -41 -20 -4 -14 -15 -20 -36 -20
-16 0 -29 -4 -29 -10 0 -5 -16 -10 -36 -10 -27 0 -37 -5 -41 -20 -4 -14 -14
-20 -32 -20 -15 0 -31 -8 -39 -20 -7 -11 -23 -20 -36 -20 -14 0 -28 -5 -31
-10 -3 -6 -19 -10 -36 -10 -19 0 -29 -5 -29 -15 0 -12 -15 -15 -75 -15 l-75 0
0 48 c0 33 9 68 30 110 17 34 30 66 30 71 0 5 11 31 24 58 14 26 28 61 32 78
4 16 13 36 21 43 7 7 13 22 13 33 0 10 3 19 8 19 4 0 13 19 20 43 8 23 26 69
42 102 16 33 43 96 61 140 17 44 45 109 62 145 16 36 33 79 38 95 8 30 8 30
-8 8 -11 -16 -25 -23 -50 -23 -21 0 -36 -6 -39 -15 -4 -9 -19 -15 -40 -15 -19
0 -34 -4 -34 -10 0 -5 -18 -10 -39 -10 -31 0 -41 -4 -46 -20 -4 -14 -15 -20
-36 -20 -16 0 -39 -9 -51 -20 -12 -11 -34 -20 -50 -20 -15 0 -28 -4 -28 -10 0
-5 -17 -10 -39 -10 -30 0 -40 -4 -44 -20 -4 -15 -14 -20 -37 -20 -17 0 -38 -7
-46 -15 -9 -8 -28 -15 -44 -15 -16 0 -30 -7 -34 -15 -3 -9 -19 -15 -41 -15
-22 0 -38 -6 -41 -15 -4 -9 -19 -15 -40 -15 -19 0 -34 -4 -34 -10 0 -5 -18
-10 -41 -10 -32 0 -42 -4 -46 -20 -4 -16 -14 -20 -43 -20 -30 0 -40 -5 -45
-20 -5 -15 -15 -20 -41 -20 -19 0 -34 -4 -34 -10 0 -5 -18 -10 -41 -10 -32 0
-42 -4 -46 -20 -4 -15 -14 -20 -38 -20 -18 0 -38 -7 -45 -15 -7 -8 -28 -15
-46 -15 -19 0 -34 -4 -34 -10 0 -5 -11 -10 -24 -10 -35 0 -56 -10 -56 -26 0
-10 -12 -14 -38 -14 -26 0 -42 -6 -52 -20 -8 -12 -26 -20 -42 -20 -15 0 -28
-4 -28 -10 0 -5 -18 -10 -41 -10 -32 0 -42 -4 -46 -20 -4 -15 -14 -20 -38 -20
-18 0 -38 -7 -45 -15 -7 -8 -27 -15 -45 -15 -20 0 -35 -6 -39 -15 -3 -9 -19
-15 -41 -15 -22 0 -38 -6 -41 -15 -4 -9 -19 -15 -40 -15 -19 0 -34 -4 -34 -10
0 -5 -10 -10 -22 -10 -39 0 -68 -12 -68 -26 0 -9 -12 -14 -35 -14 -24 0 -39
-6 -47 -20 -9 -13 -24 -20 -45 -20 -18 0 -33 -4 -33 -10 0 -5 -13 -10 -29 -10
-39 0 -61 -9 -61 -26 0 -9 -12 -14 -35 -14 -24 0 -37 -6 -45 -20 -9 -17 -21
-20 -90 -20 l-80 0 0 70 c0 40 4 70 10 70 6 0 10 18 10 40 0 22 4 40 9 40 5 0
12 34 16 75 4 41 11 77 16 81 5 3 9 20 9 39 0 19 4 36 9 39 4 3 11 37 15 76 4
38 11 70 17 70 5 0 9 18 9 39 0 22 4 43 10 46 6 3 10 15 10 26 0 23 -26 25
-54 4 -11 -8 -32 -15 -47 -15 -15 0 -29 -7 -33 -15 -3 -9 -19 -15 -41 -15 -22
0 -38 -6 -41 -15 -4 -10 -20 -15 -45 -15 -21 0 -39 -4 -39 -10 0 -5 -13 -10
-29 -10 -39 0 -61 -9 -61 -26 0 -10 -12 -14 -39 -14 -31 0 -41 -4 -46 -20 -5
-15 -15 -20 -40 -20 -19 0 -37 -5 -40 -10 -3 -6 -24 -10 -47 -10 -31 0 -41 -4
-45 -20 -4 -15 -14 -20 -38 -20 -18 0 -38 -7 -45 -15 -7 -8 -28 -15 -46 -15
-19 0 -34 -4 -34 -10 0 -5 -10 -10 -22 -10 -39 0 -68 -12 -68 -26 0 -10 -12
-14 -38 -14 -26 0 -42 -6 -52 -20 -9 -13 -26 -20 -47 -20 -18 0 -33 -4 -33
-10 0 -5 -18 -10 -39 -10 -31 0 -41 -4 -46 -20 -5 -15 -15 -20 -39 -20 -19 0
-39 -7 -46 -15 -7 -8 -27 -15 -45 -15 -20 0 -35 -6 -39 -15 -3 -10 -19 -15
-46 -15 -29 0 -40 -4 -40 -15 0 -10 -10 -15 -28 -15 -30 0 -82 -20 -82 -32 0
-5 -13 -8 -30 -8 -16 0 -30 -4 -30 -10 0 -5 -18 -10 -39 -10 -31 0 -41 -4 -46
-20 -5 -16 -15 -20 -46 -20 -21 0 -39 -4 -39 -10 0 -5 -17 -10 -39 -10 -30 0
-40 -4 -44 -20 -4 -15 -14 -20 -41 -20 -25 0 -40 -6 -48 -20 -9 -13 -24 -20
-45 -20 -17 0 -35 -4 -38 -10 -3 -5 -22 -10 -41 -10 -22 0 -37 -6 -40 -15 -4
-10 -20 -15 -44 -15 -30 0 -40 -5 -45 -20 -5 -16 -15 -20 -46 -20 -21 0 -39
-4 -39 -10 0 -5 -18 -10 -39 -10 -31 0 -41 -4 -46 -20 -5 -15 -15 -20 -39 -20
-20 0 -40 -8 -51 -20 -10 -11 -31 -20 -47 -20 -15 0 -28 -4 -28 -10 0 -5 -18
-10 -40 -10 -29 0 -42 -5 -50 -20 -7 -14 -21 -20 -44 -20 -19 0 -39 -7 -46
-15 -7 -8 -28 -15 -46 -15 -19 0 -34 -4 -34 -10 0 -5 -18 -10 -39 -10 -31 0
-41 -4 -46 -20 -5 -15 -15 -20 -41 -20 -19 0 -34 -4 -34 -10 0 -5 -18 -10 -41
-10 -32 0 -42 -4 -46 -20 -4 -16 -14 -20 -44 -20 -28 0 -41 -5 -49 -20 -8 -14
-21 -20 -45 -20 -19 0 -35 -4 -35 -10 0 -5 -18 -10 -40 -10 -29 0 -42 -5 -50
-20 -9 -17 -21 -20 -90 -20 l-80 0 0 63 c1 34 6 82 11 107 6 25 13 63 16 85 3
22 9 42 12 45 7 5 23 83 38 183 3 20 9 37 13 37 4 0 11 31 14 70 4 38 11 72
17 75 5 4 9 26 9 51 0 24 5 44 10 44 6 0 10 9 10 20 0 26 20 110 31 132 13 26
11 38 -6 38 -8 0 -15 -4 -15 -10 0 -5 -11 -10 -24 -10 -35 0 -56 -10 -56 -26
0 -9 -11 -14 -33 -14 -21 0 -38 -7 -47 -20 -8 -12 -26 -20 -42 -20 -15 0 -28
-4 -28 -10 0 -5 -16 -10 -36 -10 -27 0 -37 -5 -41 -20 -4 -14 -14 -20 -35 -20
-16 0 -36 -7 -44 -15 -9 -8 -26 -15 -39 -15 -12 0 -25 -7 -29 -15 -3 -9 -19
-15 -41 -15 -24 0 -35 -4 -35 -15 0 -10 -10 -15 -29 -15 -17 0 -33 -4 -36 -10
-3 -5 -15 -10 -26 -10 -10 0 -19 -4 -19 -10 0 -5 -9 -10 -20 -10 -11 0 -20 -4
-20 -10 0 -5 -15 -10 -34 -10 -26 0 -36 -5 -41 -20 -5 -15 -15 -20 -41 -20
-19 0 -34 -4 -34 -10 0 -5 -16 -10 -36 -10 -27 0 -37 -5 -41 -20 -4 -15 -14
-20 -37 -20 -20 0 -35 -7 -44 -20 -7 -11 -23 -20 -36 -20 -14 0 -28 -4 -31
-10 -3 -6 -22 -10 -41 -10 -24 0 -34 -5 -34 -15 0 -10 -10 -15 -34 -15 -26 0
-36 -5 -41 -20 -5 -15 -15 -20 -41 -20 -19 0 -34 -4 -34 -10 0 -5 -15 -10 -34
-10 -26 0 -36 -5 -41 -20 -5 -14 -15 -20 -38 -20 -21 0 -36 -7 -45 -20 -8 -13
-23 -20 -42 -20 -17 0 -30 -4 -30 -10 0 -5 -15 -10 -34 -10 -25 0 -35 -5 -39
-20 -4 -14 -14 -20 -35 -20 -16 0 -35 -7 -42 -15 -7 -8 -25 -15 -41 -15 -16 0
-29 -4 -29 -10 0 -5 -15 -10 -34 -10 -26 0 -36 -5 -41 -20 -5 -15 -15 -20 -41
-20 -19 0 -34 -4 -34 -10 0 -5 -16 -10 -36 -10 -27 0 -37 -5 -41 -20 -4 -15
-14 -20 -38 -20 -25 0 -35 -5 -40 -20 -4 -14 -15 -20 -35 -20 -16 0 -32 -4
-35 -10 -3 -6 -21 -10 -39 -10 -25 0 -35 -5 -39 -20 -4 -15 -14 -20 -36 -20
-19 0 -34 -6 -37 -15 -4 -9 -19 -15 -40 -15 -19 0 -34 -4 -34 -10 0 -5 -16
-10 -35 -10 -19 0 -35 -4 -35 -10 0 -7 2118 -10 6335 -10 l6335 0 0 825 c0
454 -2 825 -5 825 -3 0 -5 -13 -5 -30z"
            />
        </g>
    </svg>

    <div class="footer-contn d-flex justify-content-center align-items-center">
        <p>Copyright &copy; mangadi3859 2022</p>
    </div>
</footer>
