<ul class="nav-list d-flex justify-content-around align-items-center h-100">
    <li class="nav-item"><a href="/">HOME</a></li>
    <li class="nav-item"><a href="/search">SEARCH</a></li>
    <li class="nav-item"><a href="https://isla-mp3.nitroz.my.id/">ISLAMP3</a></li>
</ul>
